<div class="phonebook">
    <div class="add-form">
        <h3 class="title">PhoneBook</h3>
        <div class="fields">
            <input type="text" 
                placeholder="First Name" 
                class="input"
                [(ngModel)]="newFirstname">
            <input type="text" 
                placeholder="Last Name" 
                class="input"
                [(ngModel)]="newLastname">
            <input type="text" 
                placeholder="Number" 
                class="input"
                [(ngModel)]="newNum">
        </div>
        <div class="add-btn">
            <button class="btn" (click)="insertValue()">ADD TO CONTACTS</button>
        </div>
    </div>

    <div class="contact-list" *ngFor="let person of persons orderBy">
        <div class="item">
            <p class="names">{{person.firstname }} {{person.lastname}}</p>
            <p class="number">{{person.number}}</p>
        </div>
    </div>
</div>